 @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /* navigation bar */

 .navbar {
     height: 13vh;
     position: sticky;
     top: 0;
     display: flex;
     justify-content: space-around;
     background-color: white;
     box-shadow: 0 0 3px grey;
 }

 .title {
     line-height: 80px;
     font-size: 2rem;
 }

 .list {
     display: flex;
     list-style: none;
 }

 ul li a {
     text-decoration: none;
     font-family: sans-serif;
     font-size: 1.4rem;
     color: black;
     padding: 10px 20px;
     line-height: 85px;
     transition: all .3s;
 }

 ul li a:hover {
     background-color: grey;
 }

 /* Information bax */

 .info-box {
     height: 60vh;
     background-color: #073428;
     display: flex;
     justify-content: space-around;
 }

 .rSide .greet-title {
     font-family: 'Tajawal', sans-serif;
     font-size: 2rem;
     color: goldenrod;
     margin-top: 2rem;
 }

 .skill {
     font-size: 2.5rem;
     color: white;
     font-weight: bold;
 }

 .p1 {
     margin: 2rem 0 1.5rem 0;
     font-size: 1rem;
     font-weight: 400;
     color: white;
 }

 .hireBtn {
     padding: .8rem 2rem;
     font-size: 1.1rem;
     font-weight: bold;
     background-color: rgb(32, 112, 144);
     color: white;
     border: none;
     border-radius: .5rem;
 }

 .hireBtn:hover {
     transform: scale(0.9);
     cursor: pointer;
     background-color: rgb(15, 84, 112);
 }

 .getResumeBtn {
     padding: .8rem 1.8rem;
     font-size: 1.1rem;
     font-weight: bold;
     background-color: goldenrod;
     color: white;
     border: none;
     border-radius: .5rem;
     margin-left: 1.5rem;
 }

 .getResumeBtn:hover {
     transform: scale(0.9);
     cursor: pointer;
     background-color: rgb(123, 91, 9);
 }

 .lSide img {
     margin-top: 2.3rem;
     height: 90%;
 }

 /* Here start section of about me */

 .aboutMe {
     height: 100vh;
     display: flex;
     margin: 3rem 5rem;
     box-shadow: 0 0 10px;
     border-radius: 1rem;
 }

 .ab-lSide {
     width: 45%;
     height: 100%;
     background-image: url('assets/aboutme.png');
     background-repeat: no-repeat;
     background-position: center;
     padding: 4rem;
 }

 .ab-rSide {
     width: 55%;
     padding-right: 7rem;
 }

 .ab-title-name {
     display: inline-block;
     margin-top: 1rem;
     padding-bottom: .6rem;
     font-size: 1.5rem;
     border-bottom: 3px solid goldenrod;
 }

 .ab-p1 {
     margin-top: 1.5rem;
     font-family: Bebas Neue;
     line-height: 1.5rem;
 }

 .ab-p2 {
     margin-top: 1rem;
     font-family: Bebas Neue;
     line-height: 1.5rem;
 }

 .language-logo {
     display: flex;
     flex-wrap: wrap;
     margin-top: 2rem;
     height: 43%;
     width: 100%;
     padding: 1rem;
     border-radius: 1rem;
     box-shadow: 0 0 10px grey;
 }

 .pic-box {
     margin-top: 1rem;
     height: 100%;
     width: 100%;
 }

 .pic {
     height: 30%;
 }

 /* Here start Portfolio Section */

 .portfolio {
     height: 100vh;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-evenly;
     margin: 3rem 5rem;
 }

 .portfolioHeading {
     display: inline-block;
     margin-left: 46%;
     border-bottom: 2px solid goldenrod;
 }

 .portfolio .box1 {
     background-image: url('assets/portimg.webp');
     background-size: cover;
     height: 45%;
     width: 45%;
     box-shadow: 0 0 20px gray;
 }

 .portfolio .box2 {
     height: 45%;
     width: 45%;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgb(48, 48, 232);
     box-shadow: 0 0 20px gray;
 }

 .box2-heading {
     margin-top: 3.5rem;
     font-size: 1.9rem;
     color: white;
 }

 .b2-p {
     margin: 1rem 0;
     color: white;
     font-weight: bold;
 }

 .portfolio .task {
     width: 50%;
     padding: .7rem 1rem;
     border-radius: .4rem;
     outline: none;
     border: none;
     font-size: 1rem;
 }

 .add-btn {
     margin: 1rem;
     padding: .7rem 1.5rem;
     background: transparent;
     border: 1px solid white;
     color: white;
     border-radius: .4rem;
 }

 .add-btn:hover {
     cursor: pointer;
     transform: scale(0.9);
 }

 .portfolio .box3 {
     height: 45%;
     width: 45%;
     box-shadow: 0 0 20px gray;
 }

 .b3-img {
     height: 90%;
     width: 93%;
     margin: 1rem;
     background-image: url('assets/weatherimg.jpg');
     background-size: cover;
     box-shadow: 0 0 20px gray;
 }

 .portfolio .box4 {
     height: 45%;
     width: 45%;
     box-shadow: 0 0 20px gray;
 }

 .box4 img {
     height: 100%;
     width: 100%;
 }

                 /* Here start resume section */

 .resumeHeading {
     display: inline-block;
     margin-left: 46%;
     margin-top: 3rem;
     border-bottom: 2px solid goldenrod;
 }

 .resume {
     display: flex; 
     margin: 2rem 0;
 }

 .resume-box1 {
     width: 60%;
     height: 50vh;
     margin-left: 2rem;
 }

 .heading-1{
    margin-top: 1rem;
 }

 .arti p{
    display: inline-block;
 }

 .Skill{
    font-size: 1.5rem;
 }

 .year{
    margin-top: .5rem;
    padding: .3rem .3rem;
    float: right;
    font-weight: bold;
    color: white;
    border-radius: 1rem;
    background-color: goldenrod;
 }
 .resume-box2 {
    width: 25%;
    height: 50vh;
    margin-left: 2rem;
}
.resume-box2 .Dp{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 20px gray;
}

/* here start contact me section */

.contact-heading{
    display: inline-block;
     margin-left: 46%;
     margin-top: 3rem;
     border-bottom: 2px solid goldenrod;
}
.contact{
    display: flex;
    margin: 3rem 5rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px gray;
}
.contact-box1{
    width: 50%;
    padding: 0 1rem 0 3rem; 
   
}
.contact-box1 h2{
    margin-top: 20%;
}
.para{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}
.icon{
    line-height: 2rem;
}
.contact-box2{
    width: 50%;
    padding: 3rem 0 3rem 2rem;
    border-radius: 0 1rem  1rem 0;
    background-color: rgb(254, 215, 235);
}
form{
    margin-top: 1rem;
}
form .str{
    font-size: 1rem;
    color: red;
}
.nameBox{
    border: none;
    outline: none;
    width: 70%;
    font-size: 1rem;
    padding: .7rem .4rem;
    margin-bottom: .5rem;
    border-radius: .4rem;
    
}
label{
    font-size: 1.1rem;
}
.msgBox{
    border: none;
    outline: none;
    resize: none;
    width: 70%;
    font-size: 1rem;
    margin-bottom: .5rem;
    padding: .7rem .4rem;
    border-radius: .4rem;   
}
.msg-btn{
    font-size: 1.1rem;
    padding: .9rem 1.2rem;
    border: none;
    border-radius: .3rem;
    background-color: goldenrod;
}
.msg-btn:hover{
    cursor: pointer;
    transform: scale(.9);
}

/* here is footer */

.footer{
    height: 10vh;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: hotpink;
}